tensorflow==2.19.0
scikit-learn==1.6.1
pandas==2.2.3
numpy==1.26.4
matplotlib==3.10.1
seaborn==0.13.2
nltk==3.9.1
deap==1.4.1
wordcloud==1.9.4
jupyter==1.1.1
ipykernel==6.29.5
kaggle==1.7.4
tqdm==4.67.1
joblib==1.4.2
